In [1]:
import pandas as pd

**0.** Vytvoř objekt Series, který bude obsahovat seznam tvých oblíbených filmů a přidej mu index a jméno. Pak přidej kód, který vypíše počet prvků Series.

In [2]:
filmy = pd.Series(
    ["Divoké historky", "Breaking bad", "Valhalla"],
    name="film",
    index=[1, 2, 3],)
filmy

filmy.size # pocet prvku

3

**1.** Použij Series vytvořenou v předchozím úkolu a vytvoř DataFrame, která bude obsahovat navíc jméno režiséra či režisérky a rok premiéry.

In [6]:
filmydf = pd.DataFrame(filmy) # series to dataframe
filmydf

              film
1  Divoké historky
2     Breaking bad
3         Valhalla

In [7]:
filmydf['premiéra'] = [2014, 2008, 2013] # add column
filmydf['režisér'] = ["Damián Szifrón", "Vince Gilligan", "Ben Sturgulewski"] # add column
filmydf

              film  premiéra           režisér
1  Divoké historky      2014    Damián Szifrón
2     Breaking bad      2008    Vince Gilligan
3         Valhalla      2013  Ben Sturgulewski

**2.** Vytvoř tabulku malé násobilky jako DataFrame (t.j. index i sloupce tvoří čísla 1-10, na průsečících je hodnota součinu).

In [8]:
column_names = []
for x in range (1,10):
    column_names.append(x)
column_names

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
row_names = []
for x in range (1,10):
    row_names.append(x)
row_names

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
df = pd.DataFrame(columns = column_names, index = row_names)
df

     1    2    3    4    5    6    7    8    9
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [11]:
for sloupec in df.columns:
    for radek in df.index:
        df.loc[radek, sloupec] = (radek*sloupec)
df

   1   2   3   4   5   6   7   8   9
1  1   2   3   4   5   6   7   8   9
2  2   4   6   8  10  12  14  16  18
3  3   6   9  12  15  18  21  24  27
4  4   8  12  16  20  24  28  32  36
5  5  10  15  20  25  30  35  40  45
6  6  12  18  24  30  36  42  48  54
7  7  14  21  28  35  42  49  56  63
8  8  16  24  32  40  48  56  64  72
9  9  18  27  36  45  54  63  72  81

**3.** Napiš funkci multiplication_table(n), která vytvoří čtvercovou DataFrame s násobilkou s volitelným počtem řádků a sloupců n.(Stačí jen malinko adaptovat předchozí příklad).

In [13]:
def multiplication_table(n):
    column_names = []
    for x in range (1, n + 1):
        column_names.append(x)
        
    row_names = []
    for x in range (1, n + 1):
        row_names.append(x)
        
    dfn = pd.DataFrame(columns = column_names, index = row_names)
    
    for sloupec in dfn.columns:
        for radek in dfn.index:
            dfn.loc[radek, sloupec] = (radek*sloupec)
        
    return dfn

multiplication_table(5)

   1   2   3   4   5
1  1   2   3   4   5
2  2   4   6   8  10
3  3   6   9  12  15
4  4   8  12  16  20
5  5  10  15  20  25

**4.** Použij tabulku pokémonů z hodiny. Pomocí tzv. indexerů zjisti: jaké hodnoty útoku a obrany má pokémon pikachu?

In [ ]:
tabulka_pokemonu = pd.read_csv("eda1/pandas_core/static/pokemon.csv")
tabulka_pokemonu

In [ ]:
tabulka_pokemonu_name_sorted = tabulka_pokemonu.set_index("name").sort_index()
tabulka_pokemonu_name_sorted.loc["pikachu"]
# pikachu utok 55
# pikachu obrana 40

**5.** Příště budeme pracovat s tabulkou zemí světa. Stáhni si tabulku jako csv z této adresy a:
* podívej se, jaké obsahuje sloupce
* zkus jí nastavit index podle jména a seřaď řádky podle indexu
* vypiš řádky se zeměmi začínajícími na “Slo” a (subjektivně) je porovnej.

In [ ]:
countries = pd.read_csv("countries.csv")
countries

In [ ]:
countries.columns

In [ ]:
countries_name_sorted = countries.set_index("name").sort_index()
countries_name_sorted

In [ ]:
countries_name_sorted.loc["Slo":"Slp"]

**6.** Pomocí unicodových symbolů (♔♕♖♗♘♙♚♛♜♝♞♟) vytvoř šachovnici jako DataFrame (poněkud pracné, ale estetické). Pojmenuj sloupce i řádky (barvu polí neřeš, byť i k tomu se můžeme později dostat).

In [ ]:
def sachovnice():
    column_names = ["a", "b", "c", "d", "e", "f", "g", "h"]
        
    row_names = []
    for x in range (1, 9):
        row_names.append(x)
        
    dfs = pd.DataFrame(columns = column_names, index = row_names)
    
    dfs.iloc[1] = ("\u265F")
    dfs.iloc[6] = ("\u2659")
    
    dfs.iloc[0,0] = ("\u265C")
    dfs.iloc[0,7] = ("\u265C")
    dfs.iloc[7,0] = ("\u2656")
    dfs.iloc[7,7] = ("\u2656")
    
    dfs.iloc[0,1] = ("\u265E")
    dfs.iloc[0,6] = ("\u265E")
    dfs.iloc[7,1] = ("\u2658")
    dfs.iloc[7,6] = ("\u2658")
    
    dfs.iloc[0,2] = ("\u265D")
    dfs.iloc[0,5] = ("\u265D")
    dfs.iloc[7,2] = ("\u2657")
    dfs.iloc[7,5] = ("\u2657")
    
    dfs.iloc[0,3] = ("\u265B")
    dfs.iloc[7,3] = ("\u2655")
    
    dfs.iloc[0,4] = ("\u265A")
    dfs.iloc[7,4] = ("\u2654")
    
    dfs.iloc[2] = (" ")
    dfs.iloc[3] = (" ")
    dfs.iloc[4] = (" ")
    dfs.iloc[5] = (" ")
      
    return dfs

sachovnice()